<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.wallace.pokemon">

    <dist:module dist:title="pokemon_private">
        <dist:fusing dist:include="true" />

        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>
    </dist:module>

    <application android:hasCode="false">
        <activity
            android:name=".presentation.activity.PokemonImageActivity"
            android:exported="false" />
    </application>

</manifest>