<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.wallace.dynamicfeature">

    <dist:module
        dist:instant="false"
        dist:hasCode="false"
        dist:onDemand="true"
        dist:title="@string/title_dynamicfeature">
        <dist:fusing dist:include="false"/>
    </dist:module>
</manifest>